<div class="login-page">
    <div class="content">
        <form [formGroup]="formulario" class="login-form" fxFlex (submit)="onSubmit()">
            <div class="text-center">
                <h2 class="app-name">Bisuit FrontEnd</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input formControlName="username" matInput placeholder="Email">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input formControlName="password" matInput type="password" placeholder="Password">
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="mensaje" class="alert alert-danger">
                <div>{{mensaje}}</div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" type="submit">Ingresar</button>
                </div>
            </div>

        </form>
    </div>
</div>