
<h3>Sincronizacion de datos</h3>
<mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
  <mat-button-toggle (click)="sincronizarCategorias()">Categorias</mat-button-toggle>
  <mat-button-toggle (click)="sincronizarBodegas()">Bodegas</mat-button-toggle>
  <mat-button-toggle (click)="sincronizarCentrosCosto()">Centros de costo</mat-button-toggle>
  <mat-button-toggle (click)="sincronizarProductos()">Productos</mat-button-toggle>
  <mat-button-toggle (click)="sincronizarCompras()">Compras</mat-button-toggle>
  <mat-button-toggle (click)="sincronizarVentas()">Ventas</mat-button-toggle>
</mat-button-toggle-group>