<p>Reporte Ventas Comparativo</p>

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex>
    <div class="form-group row">
      <mat-form-field  appearance="fill">
          <mat-label>Fecha desde</mat-label>
              <input matInput [matDatepicker]="picker1"
                  (dateInput)="addEvent('input', $event)" disabled>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div fxflex>
    <mat-form-field appearance="fill">
      <mat-label>Fecha hasta</mat-label>
      <input matInput [matDatepicker]="picker"
              (dateInput)="addEvent2('input', $event)" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
  <div fxflex>
    <div class="example-button-row">
      <button mat-raised-button (click)="consultarReporte()">Consultar</button>
      <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'ventasComparativo', sheet: 'sheet_name', Props: {Author: 'devSkyrock'}})">Excel</button>
      <button mat-raised-button (click)="downloadPDF()">Pdf</button>
    </div>
  </div>
</div>


<div class="col-12">
    <mat-card class="example-card">
        <mat-card-content>
            <div class="table-responsive">
                <mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z8" #exporter="matTableExporter">
                  <ng-container matColumnDef="tienda">
                    <mat-header-cell *matHeaderCellDef> Tienda </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.centro_costo}} </mat-cell>
                  </ng-container>
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="anio_actual">
                    <mat-header-cell *matHeaderCellDef> Año actual </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.valor_1}} </mat-cell>
                  </ng-container>
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="anio_anterior">
                    <mat-header-cell *matHeaderCellDef> Año anterior </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.valor_2}} </mat-cell>
                  </ng-container>
                
                  <ng-container matColumnDef="dif">
                    <mat-header-cell *matHeaderCellDef> % dif </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.porc_anterior}} % </mat-cell>
                  </ng-container>
                
                  <ng-container matColumnDef="anios_atras">
                    <mat-header-cell *matHeaderCellDef> Año atras </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.valor_3}} </mat-cell>
                  </ng-container>
                
                  <ng-container matColumnDef="dif_anterior">
                    <mat-header-cell *matHeaderCellDef> Dif anterior </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.porc_anterior_anio}} % </mat-cell>
                  </ng-container>
                
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                
                <div *ngIf="loading" 
                   style="display: flex; justify-content: center; align-items: center; background: white;">
                  <mat-progress-spinner 
                    color="primary" 
                    diameter="50"
                    mode="indeterminate">
                  </mat-progress-spinner>
                </div>
             </div>   
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>





