<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/ventas-mensuales']">
            <mat-icon class="sidenav-icon">view_module</mat-icon> {{ 'Ventas Mensual' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/ventas-comparativo']">
            <mat-icon class="sidenav-icon">poll</mat-icon> {{ 'Ventas Comparativo' | translate }}
        </a>
    </mat-nav-list>
</div>
